.Contact {
  display: flex;
  flex-direction: column;
}

.Contact > h2 {
  font-size: 2rem;
  margin: 20rem 0 1rem 0;
  text-align: center;
  color: var(--letters-dark-color)
}

.Contact__container {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  column-gap: 2.5rem;
  margin: 0 auto 10rem auto;
  padding: 1rem;
  justify-content: center;
}

.Contact__text {
  font-size: 1.25rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
  color: var(--letters-dark-color)
}

.Contact__link {
  text-decoration: none;
  color: inherit;
}

.Contact__container svg{
  color: var(--letters-dark-color);
  width: var(--width-icon-contact);
  height: var(--height-icon-contact);
}

@media (max-width: 640px) {
  .Contact > h2 {
    margin: 5rem 0 1rem 0;
  }

  .Contact__text {
    margin: 1rem 0.5rem 2rem 0.5rem;
  }

  .Contact__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas de ancho flexible */
    grid-auto-rows: auto; /* Altura automática según el contenido */
    gap: 15px;
  }
}

