.technologies {
  display: flex;
  flex-direction: column;
}

.technologies > h2 {
  font-size: 2rem;
  margin: 15rem 0 1rem 0;
  text-align: center;
  color: var(--letters-dark-color)
}

.technologies__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6rem  auto 20rem auto;
  max-width: 850px;
  gap: 15px;
}

@media (max-width: 640px) {
  .technologies__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas de ancho flexible */
    grid-auto-rows: auto; /* Altura automática según el contenido */
    gap: 10px;
  }
}
