.projects__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.25rem;
  max-width: 1000px;
  margin: 6rem auto;
}

.projects__project {
  border-radius: 1.375rem;
  border: 2px solid green;
  margin: 0.5rem 0;
}

