:root {
  --main-dark-color: #2d2d2d;
  --letters-dark-color: white;
  --width-icon-navbar: 45px;
  --height-icon-navbar: 45px;
  --width-icon-contact: 40px;
  --height-icon-contact: 40px;
}

body{
  margin: 0;
  background-color: var(--main-dark-color);
  font: -apple-system,BlinkMacSystemFont;
}

footer {
  width: 100%;
  color: var(--letters-dark-color);
  background-color: var(--main-dark-color);
  bottom: 0;
  text-align: center;
}
