.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2d2d2d;
  z-index: 10;
  border-radius: 1.375rem;
  border: 3px solid green;
  height: 110px;
}

.Navbar__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Navbar__list li span {
  margin-top: 5px; /* Ajusta el espacio entre la imagen y el texto */
}

.Navbar__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  column-gap: 2.5rem;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}

.Navbar__list > li > a
{
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 400;
  color: white;
}

.Navbar__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Navbar__list li span {
  display: block; /* Para que el texto esté en una línea separada */
  margin-top: 5px;
}
