.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-dark-color);
  z-index: 10;
  border-radius: 1.375rem;
  border: 3px solid green;
}


.Navbar__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  column-gap: 2.5rem;
  margin: 0 auto;
  padding: 0.35rem;
  justify-content: center;
}

.Navbar__list > li > a
{
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--letters-dark-color)
}

.Navbar__list li {
  display: flex;
  text-align: center;
}

.Navbar__list li span,
.Navbar__mobile__icon span {
  display: block;
}

.Navbar__list svg{
  width: var(--width-icon-navbar);
  height: var(--height-icon-navbar);
}

@media (min-width: 640px) {
  .Navbar__mobile__icon{
    display: none;
  }
}

@media (max-width: 640px) {
  .Navbar {
    display: none;
  }

  .Navbar__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Navbar__list li {
    padding: 10px 0;
  }
}

.Navbar__mobile__icon {
  position: fixed;

  background-color: var(--main-dark-color);
  z-index: 10;
  color: var(--letters-dark-color);
  padding: 8px;
}

.Navbar__mobile__icon svg{
  color: var(--letters-dark-color);
  width: var(--width-icon-navbar);
  height: var(--height-icon-navbar);
}

.Navbar__mobile__icon button{
  background: none;
  border: none;
  cursor: pointer;
  color: var(--letters-dark-color);
}
